    h1 {text-decoration:underline yellow;}
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
	    background-color:#aec5ca;
    }
    
    /* 头部样式 */
    .header {
      background-color: #f1f1f1;
      background-image:url("img/background_1.jpg");
	    background-repeat:no-repeat;
      background-position:center;
      padding: 170px;
      text-align: center;
    }
    
    /* 导航条 */
    ul.topnav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
    }

    ul.topnav li {float: left;}

    ul.topnav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    ul.topnav li a:hover:not(.active) {background-color: #111;}

    ul.topnav li a.active {background-color: #4CAF50;}

    ul.topnav li.right {float: right;}

    @media screen and (max-width: 600px){
      ul.topnav li.right, 
      ul.topnav li {float: none;}
    }
    

    img
    {
	    opacity:1.0;
	    filter:alpha(opacity=100); /* 适用 IE8 及其更早版本 */
      width: 15%;
      height: auto;
      float: left;
    }
    
    p{
      text-align:center;
    }

    h4{
      text-align:center;
    }