body{
    color: #3c6654;
    background-image: url('img/story_1.jpg');
  }
  .c{
    padding: 15px;
    margin: 10px;
    background-color: #58c5e0;
    color: black;
    border-radius: 10px;
  }
  #mix{
    width: 800px;
    margin-left: 300px;
    margin-top: 150px;
    border: 1px solid #58c5e0;
    border-radius: 10px;
  }

  /* 导航条 */
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }

  ul.topnav li {float: left;}

  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.topnav li a:hover:not(.active) {background-color: #111;}

  ul.topnav li a.active {background-color: #4CAF50;}

  ul.topnav li.right {float: right;}

  @media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }


